@model PancakeProwler.Data.Common.Models.Meal

@{
    ViewBag.Title = "Details";
}

<h2>Meal</h2>
    <h3>
         @Html.DisplayFor(model => model.Name) - @Model.Date.ToShortDateString()
    </h3>
 
    <p>
        @Model.Address
    </p>
       

    
    <span class="display-field">
        @Html.DisplayFor(model => model.Description)
    </span>


