@model IEnumerable<PancakeProwler.Data.Common.Models.Meal>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

<!-- Jumbotron -->
<div class="jumbotron" style="background-image: url('/Content/img/pancakes.jpg')">
    <h1>Pancakes!</h1>
    
    <div id="pancake_map" style="position: relative; width: 100%; height: 600px ">
    </div>
</div>

<hr>


@{Html.RenderAction(controllerName: "Notification", actionName: "Create");}

<script type="text/javascript">
    var events = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => new { Id = x.Id, Location = new { Lat= x.Latitude, Long = x.Longitude }, Title = x.Name, Description = x.Description })))
    $(function () {
        var map = new PancakeProwler.Home.Index.BingMap(events, function () {  });
        map.init();
    });
</script>
