@model PancakeProwler.Data.Common.Models.Notification
@{
    Layout = null;
    
}

<div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Get notified</h3>
  </div>
  <div class="modal-body">
      We'll send you a text message when there is a pancake breakfast near you
      <br />
    @Html.EditorForModel() 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary">Notify me</button>
  </div>
</div>